<% include header2 %>


<div id="users"></div>
	<div id="messages">
		<div class="message" id="mess">
		<img src="">
		<div class="info">
			<p><strong><!-- USERNAME --></strong></p>
			<p></p>
			<span class="date"><!--DATE--></span>
		</div>
	</div>
</div>
<form action="" id="chat_form">
	<input type="text" id="message" class="text" />
	<input type="submit" id="send" value="Envoyer mon message" class="submit"/>
</form>

  <script src="socket.io/socket.io.js"></script>
	<script src="/js/chat_client.js"></script>
	<script>
   		var socket = io.connect('http://localhost:3000');
   		

   		$('#chat_form').submit(function(event){
   			event.preventDefault();
   			socket.emit('message', {
   				message : $('#message').val();
   				user_name: <%= ret[0].name %>
   			})
   		})

  	</script>
<% include footer %>