<% include header2 %>

<div id="messages">
</div>
<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
   <b>ROOMS</b>
   <div id="rooms"></div>
</div>
<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
   <div id="conversation"></div>
   <input id="data" style="width:200px;" />
   <input type="button" id="datasend" value="send" />
</div>
<!--<form action="" id="chat_form">
	<input type="text"  id="message" class="text" />
	<input type="hidden" id="user_name" value="<%= ret[0].name %>"/>
	<input type="hidden" id="user_img" value="<%= ret[0].img[0] %>"/>
	<input type="submit" id="send" value="Envoyer mon message" class="submit"/>
</form>-->

  <script src="socket.io/socket.io.js"></script>
	<script>
   		var socket = io.connect('http://localhost:3000');

         //On connection to server, ask for users'name;
         socket.on('connect', function(){
            console.log('Un utilisateur de connecte');
            socket.emit('adduser', '<%= ret[0].name %>');
         });

         socket.on('updatechat', function(username, data){
            $('#messages').append('<div class="message"><div class="info"><p><strong>' + username + ':</p></strong>' + data + '</div></div>');
         })

         socket.on('updaterooms', function(rooms, current_room) {
              $('#rooms').empty();
              $.each(rooms, function(key, value) {
                 if(value == current_room){
                    $('#rooms').append('<div>' + value + '</div>');
                 }
                 else {
                    $('#rooms').append('<div><a href="#" onclick="switchRoom(\''+       value+'\')">' + value + '</a></div>');
                 }
              });
           });


            function switchRoom(room){
               socket.emit('switchRoom', room);
            }
            //on load of page
            $(function(){
            // when the client clicks SEND
            $('#datasend').click( function() {
               var message = $('#data').val();
               $('#data').val('');
               // tell server to execute 'sendchat' and send along one parameter
               socket.emit('sendchat', message);
            });
            // when the client hits ENTER on their keyboard
            $('#data').keypress(function(e) {
               if(e.which == 13) {
               $(this).blur();
               $('#datasend').focus().click();
               }
            });
         });




   		//Gestion Connection
   	/*	socket.on('logged', function(){
   			alert('Un utilisateur vien de se logger')
   		})


   		$('#chat_form').submit((event)=>{
   			event.preventDefault();
   			socket.emit('mes', {
   				user_name: $('#user_name').val(),
   				user_img: $('#user_img').val()
   			})
   			socket.emit('newmsg', {
   				message: $('#message').val(),
   				user_name: $('#user_name').val(),
   			})
   			$('#message').val('');
   			$('#message').focus();
   		})

   		socket.on('newmess', function(message){
   			console.log('coucou new message')
   			$('#messages').append('<div class="message"> <div class="info"><p><strong>' + message.user_name + ':</p></strong>' + message.message + '</div></div>')

   		})

   		//Gestion DECONNECTION

   		socket.on('newuser', function(user){
   			//alert('Nouvel user');
   		})

   		socket.on('disuser', function(user){
   			alert('Utilisateur c deco');
   		})*/
   		
   	</script>
<% include footer %>