<footer>
	<div class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container">
			<div class="navbar-collapse collapse" id="footer-body">
				<ul class="nav navbar-nav">
                    <li><div>
                    		<a href="/compte">
                    			<button class="btn btn-default btn-lg btn-link" style="font-size:36px;">
   										 <span class="glyphicon glyphicon-user"></span>
  								</button>
  							</a>
  						</div>
					</li>
                    <li><div>
                    		<a href="/upload_img">
                    			<button class="btn btn-default btn-lg btn-link" style="font-size:36px;">
   										 <span class="glyphicon glyphicon-camera"></span>
  								</button>
  							</a>
  						</div>
					</li>
                    <li><div>
                    		<a href="/match">
                    			<button class="btn btn-default btn-lg btn-link" style="font-size:36px;">
   									<span class="glyphicon glyphicon-heart">3</span>
								</button>
							</a>
						</div>
					</li>
                    <li><div>
                    		<a href="/chat">
                    			<button class="btn btn-default btn-lg btn-link" style="font-size:36px;">
   										 <span class="glyphicon glyphicon-comment">3</span>
  								</button>
  							</a>
  						</div>
					</li>
                </ul>
			</div>
		</div>
	</div>
</footer>
</body>
</html>
