<footer>
	<div class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container">
			<div class="navbar-collapse collapse" id="footer-body">
				<ul class="nav navbar-nav">
                    <li><a href="#">Mon Compte</a></li>
                    <li><a href="#">Mes Matchs</a></li>
                    <li><a href="#">Mes notifications</a></li>
                </ul>
			</div>
		</div>
	</div>

</footer>
</body>
</html>
