<html>
	<body>
		<center><h2>Forgot password</h2></center><br>
		Hello , <br>
		You just told us that you forgot your password, there is a new one, change him as soon as possible :<br>
		<br>
		Thanks !
	<body>
<html>