<html>
<head>
  <title>Michto</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="img_gallery.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/myXHR.js"></script>
  <script type="text/javascript" src="/myDash.js"></script>
</head>


<body style="background-image: linear-gradient(90deg,rgb(200, 255, 255), rgb(127, 18, 47)); font-family:'Lucidatypewriter', monospace">
    <nav style="box-shadow: 1px 5px 20px rgb(0,7,5);"" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <p>
      <a class="navbar-brand" href="/logout">
        <span >MICHTO<span>
      </a>
    </p>
    <ul class="nav navbar-nav navbar-right">
      <li>
          <a href="/logout">
            <div class="glyphicon glyphicon-remove-circle" style="font-size:1.5em; color:grey;">
              <span>Logout</span>
            </div>
          </a>
      </li>
    </ul>
  </div>
</nav>
<% if (locals.flash && locals.flash.error) { %>
<div class="alert alert-warning">
<a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Warning!</strong>
    <%= flash.error %>
</div>
  <% } %>
<% if (locals.flash && locals.flash.success) { %>
<div class="alert alert-success">
<a href="#" class="close" data-dismiss="alert">&times;</a>
  <%=  flash.success %>
</div>
  <% } %>