<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Michto</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="/mystyle.css">
    <script type="text/javascript" src="/myXHR.js"></script>
</head>
<body style="background-image: linear-gradient(90deg,rgb(200, 255, 255), rgb(127, 18, 47) );">

    <nav class="navbar navbar-inverse navbar-static-top">
        <body style="background-image: linear-gradient(90deg,rgb(200, 255, 255), rgb(127, 18, 47) );">
         <div class="container">
                    <a class="navbar-brand" href="/">Michto</a>
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">DashBoard</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filtre <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>  <div class="form-group">
                                        <label> Age Min</label>
                                        <input type="number" name="age" min="18" max="100" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label> Age Max</label>
                                        <input type="number" name="age" min="18" max="100" required="required">
                                    </div>
                                </li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout">logout</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>

