<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Michto</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/mystyle.css">
    <script type="text/javascript" src="/myXHR.js"></script>
    <script type="text/javascript" src="/myDash.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
</head>
<body style="background-image: linear-gradient(90deg,rgb(200, 255, 255), rgb(127, 18, 47) );">

<nav class="navbar navbar-inverse navbar-static-top">
    <body style="background-image: linear-gradient(90deg,rgb(200, 255, 255), rgb(127, 18, 47) );">
    <div class="container">
        <a class="navbar-brand" href="/">Michto</a>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/logout">
                  <div class="glyphicon glyphicon-remove-circle" style="font-size:1.5em; color:grey;">Logout</div>
                </button>
              </a>
      </li>
        </ul>
    </div>

        <div class="container">
            <ul class="nav navbar-nav">
                <li style="margin-right: 10px;padding-left: 10px;" >
                    <div class="form-group">
                        <p style="color: rgb(255,255,255);"><label> Age min </label></p>
                        <input type="number" id="age-min" name="age-min" min="18" max="100" value="18" required="required">
                    </div>
                </li>

                <li style="margin-right: 10px;padding-left: 10px;">
                    <div class="form-group">
                        <p style="color: rgb(255,255,255);"><label> Age max </label></p>
                        <input type="number" id="age-max" name="age-max" min="18" max="100" value="100" required="required">
                    </div>
                </li>
                <li class="divider-vertical"></li>
            </ul>
            <ul class="nav navbar-nav">
                <li style="margin-right: 10px;padding-left: 10px;" >
                    <div class="form-group">
                        <p style="color: rgb(255,255,255);"><label> Pop min </label></p>
                        <input type="number" id="pop-min" name="pop-min" min="0" max="100" value="0" required="required">
                    </div>
                </li>
                <li style="margin-right: 10px;padding-left: 10px;">
                    <div class="form-group">
                        <p style="color: rgb(255,255,255);"><label> Pop max </label></p>
                        <input type="number" id="pop-max" name="pop-max" min="18" max="100" value="100" required="required">
                    </div>
                </li>
                <li class="divider-vertical"></li>
                <li style="margin-right: 10px;padding-left: 10px;">
                    <div class="form-group">
                        <p style="color: rgb(255,255,255);"><label><span class="glyphicon glyphicon-map-marker" aria-hidden="true">Dist </span></label></p>
                        <input style="margin-top: 5px" id="dist" type="number" name="dist" min="10" max="100" value="10" required="required"><span style="margin-left:10px;color: rgb(255,255,255);">Km</span>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label for="sel1" style="color: rgb(255,255,255);">#Tags commmun</label>
                        <select class="form-control" id="sel1">
                            <option value="1">Peu importe</option>
                            <option value="2">25% de tag </option>
                            <option value="3">50% de tag</option>
                            <option value="4">75% de tag</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                    <button style="margin-top: 25px;margin-left: 35px;" id="btn-find" onclick="find();" class="btn btn-warning btn-block" type="button">Find !</button>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label for="sel1" style="color: rgb(255,255,255);margin-left: 55px">Sort</label>
                        <select style="margin-left: 55px" class="form-control" id="sel2">
                            <option value="1">Age</option>
                            <option value="2">Popularite</option>
                            <option value="3">Distance</option>
                            <option value="4">tag en commun</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <button style="margin-top: 25px;margin-left: 65px;" id="btn-find" onclick="find('sort');" class="btn btn-warning btn-block" type="button">Sort !</button>
                    </div>
                </li>
            </ul>
        </div>
</nav>
<% if (locals.flash && locals.flash.error) { %>
<div class="alert alert-warning">
<a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Warning!</strong>
    <%= flash.error %>
</div>
  <% } %>
<% if (locals.flash && locals.flash.success) { %>
<div class="alert alert-success">
<a href="#" class="close" data-dismiss="alert">&times;</a>

  <%=  flash.success %>
</div>
  <% } %>


