<% include header2 %>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
<div class="jumbotron text-center"  style="padding:40px;">
    <h2><span class="fa fa-sign-in"></span>Inscription</h2>
    <form id="inscri" action="inscription2/form_inscription2" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="email" name="email" required="required" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="pwd" name="pwd" required="required" placeholder="Password">
        </div>
         <div class="form-group">
            <input type="name" class="form-control" id="name" name="name" required="required" placeholder="Nom d'utilisateur">
        </div>
        <div class="form-group">
            <label for="sel1">Question secrete</label>
            <select  class="form-control" id="questionSecrete" name="questionSecrete" id="sel1">
                <option name="q1">Quel est votre animal preféré?</option>
                <option name="q2">Quel est votre couleur preféré?</option>
                <option name="q3">Quel est votre pays preféré?</option>
                <option name="q4">Quel est votre fromage preféré?</option>
            </select>
            </br>
            <input type="text" class="form-control" name="repQuestion" required="required" placeholder="Réponse"/>
        </div>
        <hr>
        <div class="form-group">
            <span id="status"></span>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>
</div>
    <hr>
    <p>Vous avez deja un compte? <a href="/login">Login</a></p>
</div>
</div>
<script type="text/javascript">
/*
$(document).ready(function() {
    $('#inscri').on('submit', function(e) {
        e.preventDefault();
 
        var $this = $(this);
        var name = $('name').val();
        var mail = $('#email').val();
        var pwd = $('#pwd').val();
        var question = $('#questionSecrete').val();
        var reponse = $('#repQuestion').val();
 
        if(name === '' || mail === '' || pwd === '' || reponse === '') {
            alert('Les champs doivent êtres remplis');
        } else {

            $.ajax({
                url: $this.attr('action'), 
                type: $this.attr('method'),
                data: $this.serialize(),
                success: function(html) {
                    //faire un truc
                }
            });
        }
    });
});
*/
</script>
