<% include header2 %>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
<div class="jumbotron text-center"  style="box-shadow: 5px 3px 10px rgb(0,7,5);padding:40px;">
    <h2><span class="fa fa-sign-isn"></span>Inscription</h2>
    <form id="inscri" action="inscription2/form_inscription2" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="email" name="email" required="required" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="pwd" name="pwd" required="required" placeholder="Password">
        </div>
         <div class="form-group">
            <input type="name" class="form-control" id="name" name="name" required="required" placeholder="Nom d'utilisateur">
        </div>
        <div class="form-group">
            <label for="sel1">Question secrete</label>
            <select  class="form-control" id="questionSecrete" name="questionSecrete" id="sel1">
                <option name="q1">Quel est votre animal preféré?</option>
                <option name="q2">Quel est votre couleur preféré?</option>
                <option name="q3">Quel est votre pays preféré?</option>
                <option name="q4">Quel est votre fromage preféré?</option>
            </select>
            </br>
            <input type="text" class="form-control" name="repQuestion" required="required" placeholder="Réponse"/>
        </div>
        <hr>
        <div class="form-group">
            <span id="status"></span>
        </div>
        <button type="submit" class="btn btn-danger">Signup</button>
    </form>
</div>
    <hr>
    <p><a href="/login"><strong> Vous avez déjà un compte?</strong></a></p>
</div>
</div>
<script type="text/javascript">
</script>
