<% include header2 %>
<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron text-center" style="box-shadow: 1px 5px 20px rgb(0,7,5);padding:40px;">
    <h2><span class="fa fa-sign-in"></span>Authentification</h2>
    <form action="login/form_log" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="name" required="required" placeholder="Pseudo">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="password" required="required">
        </div>
        <hr>
        <button type="submit" class="btn btn-danger">Connexion</button>
    </form>
    </div>
    <hr>
    <div class="col-sm-6 col-sm-offset-3">
         <p><a href="/forgot_mail"><strong>Mot de passe oublié?</strong></a></p>
         <p><a href="/inscription2"><strong>Pas encore inscrit?</strong></a></p>
    </div>
    </div>
</div>
