<% include header2 %>
<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron text-center"  style="padding:40px;">
    <h2><span class="fa fa-sign-in"></span>Authentification</h2>
    <form action="login/form_log" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="name" required="required" placeholder="Pseudo">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="password" required="required">
        </div>
        <hr>
        <button type="submit" class="btn btn-warning btn-lg">Connexion</button>
    </form>
    </div>
    <hr>
    <p>Password oublié? <a href="/forgot_mail">Password oublié</a></p>
    <p>Pas encore inscrit? <a href="/inscription2">Signup</a></p>
	</div>
</div>
