.left {
	float: left;
	height: 520px;
	width: 220px;
}
.right {
	float: right;
}

.parent {
	height: 200px;
}

/* This will style any <img> element in .parent div */
.parent img {
	height: 100%;
	width: 100%;
}
#datbox {

}

#mybox {
    overflow : auto;
    height: 500px;

}
#b_view {
    position: absolute;
    bottom: 30px;
}





