.left {
	float: left;
	height: 520px;
	width: 220px;
}
.right {
	float: right;
}

.parent {
	height: 200px;

}

/* This will style any <img> element in .parent div */
.parent img {
	height: 10%;

}
#datbox {

}

#mybox {
    overflow : auto;
    height: 500px;

}
#b_view {
	position:absolute;
	bottom:0;
	margin-bottom: 35px;
}

.navbar .divider-vertical {

	height: 50px;
	margin: 10px 9px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
	border-right-color: #222222;
	border-left-color: #111111;
}

@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
}

.btn-outline {
	background-color: transparent;
	color: inherit;
	transition: all .5s;
}

.btn-primary.btn-outline {
	color: #428bca;
}

.btn-success.btn-outline {
	color: #5cb85c;
}

.btn-info.btn-outline {
	color: #5bc0de;
}

.btn-warning.btn-outline {
	color: #f0ad4e;
}

.btn-danger.btn-outline {
	color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
	color: #fff;
}





